<div id="scrolling" style="max-height: 70vh">
  <table  class="table table-bordered" >
    <tr *ngFor="let item of books; let i = index"  >

    </tr>
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of books; let i = index" >
      <td style="width: 85%" ><app-book-item [book]="item" [index]="i"></app-book-item></td>
      <td ><button class="btn btn-info" (click)="openModal(i)"> Edit</button></td>
      <td ><button class="btn btn-info" (click)="remove(i)"> Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let alert of alerts" style="z-index: 999">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>
